<fieldset class="collapsible collapsible--open">
  <div class="js-collapsible--trigger collapsible__header">
    <i class="far fa-object-ungroup collapsible__header--icon"></i>
    <h2 class="collapsible__header--title">Diseña</h2>
    <i class="fas fa-chevron-up collapsible__header--arrow-icon"></i>
  </div>
  <div class="collapsible__content--1">
    <h3 class="collapsible__content--title">Colores</h3>
    <div>
      <label class="collapsible__content--palette" for="firstcolor">
        <input class="collapsible__content--palette--radio" id="firstcolor" type="radio" value="colorsgreen" name="colors" />
        <div class="collapsible__content--palette--box bg-dark-green"></div>
        <div class="collapsible__content--palette--box bg-dirty-blue"></div>
        <div class="collapsible__content--palette--box bg-hospital-green"></div>
      </label>
      <label class="collapsible__content--palette" for="secondcolor">
        <input class="collapsible__content--palette--radio" id="secondcolor" type="radio" value="colorsred" name="colors" />
        <div class="collapsible__content--palette--box bg-dried-blood"></div>
        <div class="collapsible__content--palette--box bg-rusty-red"></div>
        <div class="collapsible__content--palette--box bg-tomato"></div>
      </label>
      <label class="collapsible__content--palette" for="tertiarycolor">
        <input class="collapsible__content--palette--radio" id="tertiarycolor" type="radio" value="colorsblue" name="colors" />
        <div class="collapsible__content--palette--box bg-slate"></div>
        <div class="collapsible__content--palette--box bg-faded-orange"></div>
        <div class="collapsible__content--palette--box bg-light-grey-blue"></div>
      </label>
    </div>
  </div>
</fieldset>
