<fieldset class="collapsible open">
  <div class="js-header collapsible__header">
    <i class="far fa-keyboard collapsible__header--icon"></i>
    <h2 class="collapsible__header__title">Rellena</h2>
    <i class="fas fa-chevron-up collapsible__header--arrow-icon"></i>
  </div>
  <div>
    <label class="collapsible__content--style-text" for="fullname"> Nombre completo</label>
    <input class="js-input-text js-copyname collapsible__content--input-form" placeholder="Ej: Sally Jill" type="text" id="fullname" name="name" required />
  </div>
  <div>
    <label class="collapsible__content--style-text" for="job"> Puesto</label>
    <input class="js-input-text js-copyjob collapsible__content--input-form" placeholder="Ej: Front-end" type="text" id="job" name="job" required />
  </div>
  <label class="collapsible__content--style-text" for="image"> Imagen de perfil</label>
  <div class="collapsible__content--container-button">
    <button class="collapsible__content--style-text--button" type="button" class="image-button">Añadir imagen</button>
    <div class="collapsible__content--container-button--image-box"></div>
  </div>
  <div>
    <label class="collapsible__content--style-text" for="email"> Email</label>
    <input class="js-input-text collapsible__content--input-form" placeholder="Ej: sally-hill@gmail.com" type="email" id="email" name="email" required />
  </div>
  <div>
    <label class="collapsible__content--style-text" for="phone"> Teléfono</label>
    <input class="js-input-text collapsible__content--input-form" placeholder="Ej: 555-55-55-55" type="tel" id="phone" name="phone" required />
  </div>
  <div>
    <label class="collapsible__content--style-text" for="linkedin"> Linkedin</label>
    <input class="js-input-text  collapsible__content--input-form" placeholder="Ej: linkedin.com/in/sally.hill" type="url" id="linkedin" name="linkedin" required />
  </div>
  <div>
    <label class="collapsible__content--style-text" for="github"> Github</label>
    <input class="js-input-text collapsible__content--input-form" placeholder="Ej: @sally-hill" type="url" id="github" name="github" required />
  </div>
</fieldset>
