<fieldset class="color-fieldset">
  <div>
    <h2>Diseña</h2>
  </div>
  <div class="color-container">
    <h3>Colores</h3>
    <div class="colors">
      <label class="one-row" for="firstcolor">
        <input id="firstcolor" type="radio" value="colorsgreen" name="colors" />
        <div class="color-box bg-dark-green"></div>
        <div class="color-box bg-dirty-blue"></div>
        <div class="color-box bg-hospital-green"></div>
      </label>
      <label class="one-row" for="secondcolor">
        <input id="secondcolor" type="radio" value="colorsred" name="colors" />
        <div class="color-box bg-dried-blood"></div>
        <div class="color-box bg-rusty-red"></div>
        <div class="color-box bg-tomato"></div>
      </label>
      <label class="one-row" for="tertiarycolor">
        <input id="tertiarycolor" type="radio" value="colorsblue" name="colors" />
        <div class="color-box bg-slate"></div>
        <div class="color-box bg-faded-orange"></div>
        <div class="color-box bg-light-grey-blue"></div>
      </label>
    </div>
  </div>
</fieldset>
