<fieldset class="collapsible">
  <div class="js-header collapsible__header">
    <i class="collapsible__header--icon fas fa-share-alt"></i>
    <h2 class="collapsible__header__title">comparte</h2>
    <i class="js-arrow3 collapsible__header--arrow-icon fas fa-chevron-down"></i>
  </div>
  <div class="js-hidden-share">
    <div class="collapsible__content__btn__container">
      <button class="collapsible__content__button"><i class="collapsible__content--icon-card far fa-address-card"></i>Crear tarjeta</button>
    </div>

    <div class="collapsible__content__twitter">
      <p class="collapsible__content__twitter__title">La tarjeta ha sido creada:</p>

      <a class="collapsible__content__twitter--link" href="https://awesome-profile-card.com?id=A456DF0001">"https://awesome-profile-card.com?id=A456DF0001"</a>
    </div>
  </div>
</fieldset>
