<fieldset class="color-fieldset design">
  <div class="design-position">
    <i></i>
    <h2 class="design-position__title">Diseña</h2>
  </div>
  <div class="design-position__color">
    <h3 class="design-position__color--title">Colores</h3>
    <div class="bg-colors">
      <label class="bg-colors__one-row" for="firstcolor">
        <input class="bg-colors__one-row--radio" id="firstcolor" type="radio" value="colorsgreen" name="colors" />
        <div class="bg-colors__one-row--color-box bg-dark-green"></div>
        <div class="bg-colors__one-row--color-box bg-dirty-blue"></div>
        <div class="bg-colors__one-row--color-box bg-hospital-green"></div>
      </label>
      <label class="bg-colors__one-row" for="secondcolor">
        <input class="bg-colors__one-row--radio" id="secondcolor" type="radio" value="colorsred" name="colors" />
        <div class="bg-colors__one-row--color-box bg-dried-blood"></div>
        <div class="bg-colors__one-row--color-box bg-rusty-red"></div>
        <div class="bg-colors__one-row--color-box bg-tomato"></div>
      </label>
      <label class="bg-colors__one-row" for="tertiarycolor">
        <input class="bg-colors__one-row--radio" id="tertiarycolor" type="radio" value="colorsblue" name="colors" />
        <div class="bg-colors__one-row--color-box bg-slate"></div>
        <div class="bg-colors__one-row--color-box bg-faded-orange"></div>
        <div class="bg-colors__one-row--color-box bg-light-grey-blue"></div>
      </label>
    </div>
  </div>
</fieldset>
