<fieldset class="color-fieldset fill">
  <div class="fill-position">
    <i class="far fa-keyboard fill-position__icon"></i>
    <h2 class="fill-position__title">Rellena</h2>
    <i class="fas fa-chevron-up fill-position__arrow-icon"></i>
  </div>
  <div>
    <label class="style-text" for="completename"> Nombre completo</label>
    <input class="input-form" placeholder="Ej: Sally Jill" type="text" id="completename" name="name" required />
  </div>
  <div>
    <label class="style-text" for="job"> Puesto</label>
    <input class="input-form" placeholder="Ej: Front-end" type="text" id="job" name="job" required />
  </div>
  <label class="style-text" for="image"> Imagen de perfil</label>
  <div>
    <button class="style-text__button" type="button" class="image-button">Añadir imagen</button>
    <div class="image-box"></div>
  </div>
  <div>
    <label class="style-text" for="email"> Email</label>
    <input class="input-form" placeholder="Ej: sally-hill@gmail.com" type="email" id="email" name="email" required />
  </div>
  <div>
    <label class="style-text" for="telephone"> Teléfono</label>
    <input class="input-form" placeholder="Ej: 555-55-55-55" type="tel" id="telephone" name="telephone" required />
  </div>
  <div>
    <label class="style-text" for="linkedin"> Linkedin</label>
    <input class="input-form" placeholder="Ej: linkedin.com/in/sally.hill" type="url" id="linkedin" name="linkedin" required />
  </div>
  <div>
    <label class="style-text" for="github"> Github</label>
    <input class="input-form" placeholder="Ej: @sally-hill" type="url" id="github" name="github" required />
  </div>
</fieldset>
