<fieldset class="color-fieldset">
  <div>
    <h2>Rellena</h2>
  </div>
  <div>
    <label for="completename"> Nombre completo</label>
    <input class="input-form" placeholder="Ej: Sally Jill" type="text" id="completename" name="name" required />
  </div>
  <div>
    <label for="job"> Puesto</label>
    <input class="input-form" placeholder="Ej: Front-end" type="text" id="job" name="job" required />
  </div>
  <div>
    <label for="image"> Imagen de perfil</label>
    <div>
      <button type="button" class="image-button">Añadir imagen</button>
      <div class="image-box"></div>
    </div>
  </div>
  <div>
    <label for="email"> Email</label>
    <input class="input-form" placeholder="Ej: sally-hill@gmail.com" type="email" id="email" name="email" required />
  </div>
  <div>
    <label for="telephone"> Teléfono</label>
    <input class="input-form" placeholder="Ej: 555-55-55-55" type="tel" id="telephone" name="telephone" required />
  </div>
  <div>
    <label for="linkedin"> Linkedin</label>
    <input class="input-form" placeholder="Ej: linkedin.com/in/sally.hill" type="url" id="linkedin" name="linkedin" required />
  </div>
  <div>
    <label for="github"> Github</label>
    <input placeholder="Ej: @sally-hill" type="url" id="github" name="github" required />
  </div>
</fieldset>
