<section class="img-creation__container">
  <button class="img-creation__button"><i class="far fa-trash-alt"></i>Reset</button>
  <article class="img-creation__card">
    <h2 class="img-creation__card--name">Nombre apellido</h2>
    <h3 class="img-creation__card--profession">Front-end developer</h3>
    <img src="https://via.placeholder.com/200x240" alt="" />
    <ul>
      <li><i class="fas fa-mobile-alt"></i></li>
      <li><i class="far fa-envelope"></i></li>
      <li><i class="fab fa-linkedin-in"></i></li>
      <li><i class="fab fa-github-alt"></i></li>
    </ul>
  </article>
</section>
