<section class="img-creation__container">
  <button class="img-creation__button"><i class="far fa-trash-alt"></i>Reset</button>
  <article class="img-creation__card">
    <div class="img-creation__card--container">
      <h2 class="img-creation__card--name">Nombre apellido</h2>
      <h3 class="img-creation__card--profession">Front-end developer</h3>
    </div>
    <img src="https://via.placeholder.com/240x200" alt="" />
    <ul class="img-creation__card--list">
      <li class="img-creation__card--round"><i class="fas fa-mobile-alt"></i></li>
      <li class="img-creation__card--round"><i class="far fa-envelope"></i></li>
      <li class="img-creation__card--round"><i class="fab fa-linkedin-in"></i></li>
      <li class="img-creation__card--round"><i class="fab fa-github-alt"></i></li>
    </ul>
  </article>
</section>
