<main class="container">
  <img
    class="container--image"
    src="/_src/assets/images/descarga.svg"
    alt="Awesome"
  />
  <h2 class="container--title">
    Crea tu tarjeta de visita
  </h2>
  <p class="container--text">
    Crea mejores contactos profesionales de forma fácil y cómoda
  </p>
  <div class="container--box">
    <i class="far fa-object-ungroup"></i>
    <p>
      Diseña
    </p>
    <i class="far fa-keyboard"></i>
    <p>
      Rellena
    </p>
    <i class="fas fa-share-alt"></i>
    <p>
      Comparte
    </p>
  </div>
  <button class="container--button">
    <p class="container--button__text">Comenzar</p>
  </button>
</main>
