<section class="share-container">
  <div class="js-collapsible--trigger--2 share-container__button collapsible__content">
    <button class="share-container__button--styles"><i class="share-container__button--icon-card far fa-address-card"></i> Crear tarjeta</button>
  </div>
  <div class="share-container__twitter collapsible__content2--twitter">
    <p class=" share-container__twitter__title">La tarjeta ha sido creada:</p>
    <a class="share-container__twitter--link" href="https://awesome-profile-card.com?id=A456DF0001">"https://awesome-profile-card.com?id=A456DF0001"</a>
    <button class="share-container__twitter__btn"><i class="share-container__twitter--ico-twitter fab fa-twitter"></i>Compartir en twitter</button>
  </div>
</section>
