<section class="share-container">
  <div class="collapsible__content__btn__container">
    <button class="collapsible__content__button"><i class="collapsible__content--icon-card far fa-address-card"></i> Crear tarjeta</button>
  </div>

  <div class="collapsible__content__twitter">
    <p class="collapsible__content__twitter__title">La tarjeta ha sido creada:</p>

    <a class="collapsible__content__twitter--link" href="https://awesome-profile-card.com?id=A456DF0001">"https://awesome-profile-card.com?id=A456DF0001"</a>

    <button class="collapsible__content__twitter__btn"><i class="collapsible__content--ico-twitter fab fa-twitter"></i>Compartir en twitter</button>
  </div>
</section>
