<!DOCTYPE html>
<html lang="es">
  <head>
    <partial src="_head.html" label="Head"></partial>
  </head>

  <body>
    <div class="page">
      <partial src="_home.html" title="Main"></partial>
      <partial src="_forms.html" title="Forms"></partial>
      <partial src="_forms-design.html" title="FormsDesign"></partial>
      <partial src="_forms-fill.html" title="FormsFill"></partial>
      <partial src="_forms-share.html" title="FormsShare"></partial>
      <partial src="_footer.html" label="Footer"></partial>
    </div>
  </body>
</html>
