.principal-column {
  margin: 0 20px;
}
.articles-container {
  width: 320px;
}
.collapsible {
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #d8d8d8;
  border-left: 0;
}

@import 'components/_forms-design';
@import 'components/_forms-fill';
@import 'components/_forms-share';
@import 'components/shareTwitter';
