.color-fieldset {
  border: 0;
}
.design-position {
  margin-top: 27px;
  margin-left: 31px;

  &__title {
    width: 65px;
    height: 24px;
    font-family: OpenSans;
    font-size: 18px;
    text-transform: uppercase;
    color: #54585a;
  }
  &__color {
    margin-top: 22px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;

    &--title {
      font-family: OpenSans;
      font-size: 14px;
      text-transform: uppercase;
      color: #54585a;
    }
  }
}

.bg-colors {
  margin-bottom: 10px;
  &__one-row {
    display: flex;
    margin-bottom: 20px;
    &--color-box {
      width: 30px;
      height: 25px;
    }
  }
}

.bg-dark-green {
  background-color: #114e4e;
}
.bg-dirty-blue {
  background-color: #438792;
}
.bg-hospital-green {
  background-color: #a2deaf;
}
.bg-dried-blood {
  background-color: #420101;
}
.bg-rusty-red {
  background-color: #bd1010;
}
.bg-tomato {
  background-color: #e95626;
}
.bg-slate {
  background-color: #3e5b65;
}
.bg-faded-orange {
  background-color: #eab052;
}
.bg-light-grey-blue {
  background-color: #a0c0cf;
}
