// .collapsible {
//   border: 0;
// }

.collapsible__header {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 30px;
  display: grid;
  justify-content: space-between;
  align-items: center;
}

.collapsible__header--icon {
  font-size: 18px;
  text-align: center;
  color: #e17334;
}

.collapsible__header--arrow-icon {
  font-size: 18px;
  color: #54585a;
}

.collapsible__header__title {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #54585a;
}
