.color-fieldset {
  font-family: OpenSans;
  font-size: 18px;
  font-weight: 600;
  color: #54585a;
}

.color-fieldset__title {
  border-radius: 12px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
  background-color: #e17334;
}

.color-fieldset__button {
  font-family: OpenSans;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}
