.collapsible__header {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapsible__header--icon {
  font-size: 18px;
  text-align: center;
  color: #e17334;
}

.collapsible__header--arrow-icon {
  font-size: 18px;
  color: #54585a;
}

.collapsible__header__title {
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #54585a;
}

.collapsible__content__button {
  width: 199px;
  height: 50px;
  border: 0;
  border-radius: 12px;
  background-color: #e17334;
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}

.collapsible__content--icon-card {
  width: 25px;
  height: 22px;
  text-align: center;
  color: #ffffff;
}

.collapsible__content__twitter {
  border-top: 1px solid #d8d8d8;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
}

.collapsible__content__btn__container {
  display: flex;
  justify-content: center;
}

.collapsible__content__twitter {
  margin: 0 30px;
}
.collapsible__content__twitter__title {
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #54585a;
}
.collapsible__content__twitter--link {
  text-decoration: none;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  color: #e17334;
}
